/* @import 'tailwindcss/base'; */
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.card-item:hover {
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.ant-spin-container {
  height: 100%;
}
